.app-popup-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.422);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .app-popup{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 93vw;
    height: 93vh;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
  }



.form-container {
    display: flex;
    flex-direction: row;
    height: 85vh;
    min-width: 85vw;
    align-items: center;
    justify-content: center;
    gap: 2%;
}
.form-itself{
    display: flex;
    height: 85vh;
    min-width: 85vw;
    background-color: rgb(255, 255, 255);
    /* padding: 5px; */
    gap: 2%;
}
.form-itself p{
    background-color: rgba(255, 0, 0, 0.924);
    border-radius: 5px;
    padding: 5px;
}
.form-itself textarea{
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-right: 20px;
    resize: none;
    border-radius: 5px;
}
.form-left{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 50%;
    align-items: center;
    background-color: rgb(255, 255, 255);
}
.form-jobDescription{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.form-jobDescription textarea{
    height: 100%;
    width: 100%;
}
.form-right{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 50%;
    background-color: rgb(255, 255, 255);
}
.form-right textarea{
    height: 100%;
}
.form-right-top{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 40%;
}
.form-right-top-header{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
}
.form-companyName{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
}
.form-jobTitle{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
}
.form-right-top-footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30%;
    justify-content: space-evenly;
    gap: 1%
}
.form-location{
    display: flex;
    flex-direction: column;
    width: 33%;
    height: 100%;
}
.form-salary{
    display: flex;
    flex-direction: column;
    width: 33%;
    height: 100%;
}
.form-jobLink{
    display: flex;
    flex-direction: column;
    width: 33%;
    height: 100%;
}
.form-right-bottom{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 60%;
}
.form-notes{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.form-buttons{
    justify-content: end;
    display: flex;
    height: 5%;
    width: 100%;
    gap: 10px;
    padding-top: 5px;
}
.form-buttons button{
    border: none;
    background-color: #bb8f6a;
    border-radius: 5px;
    width: 35px;
}


@media (max-width: 950px) { 
    .app-popup-container{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.422);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .app-popup{
        position: fixed;
        top: 7vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 93vw;
        height: 77vh;
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
      }
    .form-container {
        display: flex;
        flex-direction: row;
        height: 65vh;
        /* height: 200px; */
        max-width: 80vw;
        align-items: center;
        justify-content: center;
        gap: 2%;
    }
    .form-itself{
        display: flex;
        height: 65vh;
        /* height: 200px; */
        max-width: 80vw;
        background-color: rgb(255, 255, 255);
        /* padding: 5px; */
        gap: 2%;
    }
    .form-itself p{
        background-color: rgba(255, 0, 0, 0.924);
        border-radius: 5px;
        padding: 5px;
    }
    .form-itself textarea{
        padding-top: 5px;
        padding-left: 5px;
        padding-bottom: 5px;
        padding-right: 5px;
        resize: none;
        border-radius: 5px;
    }
    .form-left{
        display: flex;
        flex-direction: column;
        min-height: 100%;
        width: 50%;
        align-items: center;
        background-color: rgb(255, 255, 255);
    }
    .form-jobDescription{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    .form-jobDescription textarea{
        height: 100%;
        width: 100%;
    }
    .form-right{
        display: flex;
        flex-direction: column;
        min-height: 100%;
        width: 50%;
        background-color: rgb(255, 255, 255);
    }
    .form-right textarea{
        height: 100%;
    }
    .form-right-top{
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 40%;
    }
    .form-right-top-header{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 60%;
    }
    .form-companyName{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 50%;
    }
    .form-jobTitle{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 50%;
    }
    .form-right-top-footer{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 30%;
        justify-content: space-evenly;
        gap: 1%
    }
    .form-right-top-footer label{
        white-space: nowrap;
        font-size: small;
    }
    .form-location{
        display: flex;
        flex-direction: column;
        width: 33%;
        height: 100%;
    }
    .form-salary{
        display: flex;
        flex-direction: column;
        width: 33%;
        height: 100%;
    }
    .form-jobLink{
        display: flex;
        flex-direction: column;
        width: 33%;
        height: 100%;
    }
    .form-right-bottom{
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 60%;
    }
    .form-notes{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    .form-buttons{
        justify-content: end;
        display: flex;
        height: 5%;
        width: 100%;
        gap: 10px;
        padding-top: 5px;
    }
    .form-buttons button{
        border: none;
        background-color: #bb8f6a;
        border-radius: 5px;
        width: 35px;
        height: fit-content;
    }
}