.application-container {
    display: flex;
    flex-direction: column;
    width:calc(90%);
    min-width: 950px;
    align-items: center;
    justify-content: space-evenly;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.784);
    border-radius: 5px;
    border: 2px solid #bb8f6a;

  }
  .application-container p2{
    /* width:calc(100%);
    height: calc(100%); */
    /* text-overflow: ellipsis; */
    /* overflow: hidden; */
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;


  }
  /* .application-container p{
    width:calc(100%);
    height: calc(100%);
    
  } */

  .application-container:hover {
    -webkit-box-shadow: 0px 0px 5px 5px #e5be83;
    box-shadow: 0px 0px 5px 5px #e5be83d4;
  }
  .app-sections {
    display: flex;
    width: calc(100%);
    height: 80%;
    align-items: center;
    justify-content: space-evenly;
  }
  .app-section {
    display: flex;
    flex-direction: column;
    width: calc(5%);
    height: 80%;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #bb8f6a;
    border-right: 1px solid #bb8f6a;
    text-align: center;

    /* overflow: hidden; */
    /* white-space: nowrap; */

  }
  /* .app-section p {
    border-bottom: 1px solid #bb8f6a;
  } */
  .app-section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100%);
    min-height: 10%;
    border-bottom: 1px solid #bb8f6a;

  }
  .app-section-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100%);
    height: 80%;
    word-break: break-all;
  
  }
  #app-job-title {
    border-left: none;
  }
  #app-section-buttons {
    display: flex;
    flex-direction: column;
    gap: 4%;
    border-right: none;
  }
  .app-section7 {
    display: flex;
    flex-direction: column;
    width: calc(7%);
    height: 80%;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #bb8f6a;
    border-right: 1px solid #bb8f6a;
    text-align: center;
    /* text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap; */
  }
  /* .app-section7 p {
    border-bottom: 1px solid #bb8f6a;
  } */
  .app-section32 {
    display: flex;
    flex-direction: column;
    width: calc(33%);
    height: 80%;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #bb8f6a;
    border-right: 1px solid #bb8f6a;
    text-align: center;
    /* text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap; */


  }
  /* .app-section32 p {
    border-bottom: 1px solid #bb8f6a;
  } */
  
  .app-section button {
    background-color: #bb8f6a;
    border: none;
    border-radius: 5px;
    width: calc(45%);
  }
  
  .app-progress-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 16%;
    width: calc(100%);
  }
  .app-progress-bar-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: calc(94%);
  }

  .app-progress-button {
    display: flex;
    height: 100%;
    width: calc(5%);
    gap: 5%;
    align-items: center;
    /* border-left: 1px solid #bb8f6a; */
  }
  .app-progress-button button {
    width: calc(45%);
    height: 100%;
    background-color: #bb8f6a;
    border: none;
    border-radius: 5px;
  }

  @media (max-width: 950px) {
    .application-container{
        /* width: 90%; */
        min-width: 90%;
        justify-content: center;
        /* height: auto; */
        min-height: 400px;
        gap: 3px;
    }
    .application-container p2{
      width:calc(100%);
      height: calc(100%);
      /* text-overflow: ellipsis; */
      /* overflow: hidden; */
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      display: -webkit-box;
  
  
    }
    .app-sections {
        display: flex;
        flex-direction: column;
        width: calc(100%);
        height: 93%;
        align-items: center;
        justify-content: center;
      }
      .app-section{
        flex-direction: row;
        width: 100%;
        border: none;
        /* height: 10%; */
      }
      .app-section7{
        width: 100%;
        flex-direction: row;
        border: none;
        /* height: 10%; */
      }
      .app-section32{
        width: 100%;
        flex-direction: row;
        border: none;
        /* max-height: 10%; */
      }
      .app-section-header{
        height: 100%;
        height: 100%;
        width: 20%;
        border: none;
        /* border-right:1px solid #bb8f6a; */
        border-bottom:1px solid #bb8f6a;
      }
      .app-section-footer{
        height: 100%;
        min-height: 100%;
        width: 80%;
        border: none;
        border-bottom:1px solid #bb8f6a;
        border-left:2px solid #bb8f6a;

      }
      #app-section-buttons{
        flex-direction: row;
        border-bottom:2px solid #bb8f6a;
        max-height: 8%;
        padding-top: 1px;
        padding-bottom: 1px;
      }
      .app-progress-container{
        max-height: 6%;
        padding-top: 2px;
      }
      .app-progress-bar-container{
        height: 90%;
      }
      .app-progress-button {
        width: calc(10%);
        gap: 5%;
        height: 95%;

      }
      .app-progress-button button {
        /* height: auto; */
      }
}