.applications-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  /* justify-content: center; */
  width: 100vw;
  text-align: center;
}
.applications-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  height: 15vh;
  gap: 2vh;
}
.applications-buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  height: 20%;
}
.applications-buttons button{
  background-color: #bb8f6a;
  border: none;
  border-radius: 5px;
  padding-right: 5px;
  padding-left: 5px;
}
.applications-buttons button:hover {
  -webkit-box-shadow: 0px 0px 5px 5px #e5be83;
  box-shadow: 0px 0px 5px 5px #e5be83d4;
}
.applications-buttons select{
  border-radius: 5px;
}
.app-buttons-right{
display: flex;
gap: 5px;
height: 100%;
}
.app-buttons-left{
  display: flex;
  height: 100%;
}
.applications-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1vh;
  padding: 0;
}
.application-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
  justify-content: space-evenly;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.784);
  border-radius: 5px;
  border: 2px solid #bb8f6a;
}
.application-container:hover {
  -webkit-box-shadow: 0px 0px 5px 5px #e5be83;
  box-shadow: 0px 0px 5px 5px #e5be83d4;
}
.app-sections {
  display: flex;
  width: 100%;
  height: 80%;
  align-items: center;
  justify-content: space-evenly;
}
.app-section {
  display: flex;
  flex-direction: column;
  min-width: 5%;
  height: 80%;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #bb8f6a;
  border-right: 1px solid #bb8f6a;
  text-align: center;
  /* text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; */
}
/* .app-section p {
  border-bottom: 1px solid #bb8f6a;
} */
.app-section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 10%;
  border-bottom: 1px solid #bb8f6a;
}
.app-section-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80%;

}
#app-job-title {
  border-left: none;
}
#app-section-buttons {
  display: flex;
  flex-direction: column;
  gap: 4%;
  border-right: none;
}
.app-section7 {
  display: flex;
  flex-direction: column;
  min-width: 7%;
  height: 80%;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #bb8f6a;
  border-right: 1px solid #bb8f6a;
  text-align: center;
  /* text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; */
}
/* .app-section7 p {
  border-bottom: 1px solid #bb8f6a;
} */
.app-section32 {
  display: flex;
  flex-direction: column;
  width: 33%;
  height: 80%;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #bb8f6a;
  border-right: 1px solid #bb8f6a;
  text-align: center;
  /* text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; */
}
/* .app-section32 p {
  border-bottom: 1px solid #bb8f6a;
} */

.app-section button {
  background-color: #bb8f6a;
  border: none;
  border-radius: 5px;
  min-width: 45%;
}

.app-progress-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 16%;
  width: 100%;
}
.app-progress-bar-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 94%;
}
.Research {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: rgba(255, 0, 0, 0.808);
  width: 14.28%;
  height: 100%;
  border-radius: 5px;
}
.Research p {
  margin-top: 15px;
  margin-right: 20px;
  text-align: center;
}
.Ready_to_Apply {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: rgba(255, 94, 0, 0.808);
  width: 28.56%;
  height: 100%;
  border-radius: 5px;
}
.Ready_to_Apply p {
  margin-top: 15px;
  margin-right: 20px;
  text-align: center;
}
.Applied {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: rgba(62, 185, 0, 0.808);
  width: 42.84%;
  height: 100%;
  border-radius: 5px;
}
.Applied p {
  margin-top: 15px;
  margin-right: 20px;
  text-align: center;
}
.Interview_Date {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: rgba(255, 183, 0, 0.808);
  width: 57.12%;
  height: 100%;
  border-radius: 5px;
}
.Interview_Date p {
  margin-top: 15px;
  margin-right: 20px;
  text-align: center;
}
.Initial_Interview_Done {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: rgba(62, 185, 0, 0.808);
  width: 71.4%;
  height: 100%;
  border-radius: 5px;
}
.Initial_Interview_Done p {
  margin-top: 15px;
  margin-right: 20px;
  text-align: center;
}
.Second_Interview_Done {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: rgba(62, 185, 0, 0.808);
  width: 85.68%;
  height: 100%;
  border-radius: 5px;
}
.Second_Interview_Done p {
  margin-top: 15px;
  margin-right: 20px;
  text-align: center;
}
.Completed {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: rgba(0, 136, 255, 0.808);
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.Completed p {
  margin-top: 15px;
  margin-right: 20px;
  text-align: center;
}
.app-progress-button {
  display: flex;
  height: 100%;
  width: 5%;
  gap: 5%;
  align-items: center;
  /* border-left: 1px solid #bb8f6a; */
}
.app-progress-button button {
  width: 45%;
  height: 100%;
  background-color: #bb8f6a;
  border: none;
  border-radius: 5px;
}


.app-popup-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app-popup{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
width: 80%;
height: 80%;
background-color: aqua;
}