.Research {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rgba(255, 0, 0, 0.685);
    width: calc(14.28%);
    height: 100%;
    border-radius: 5px;
  }
  .Research p {
    margin-top: 15px;
    margin-right: 20px;
    text-align: center;
  }
  .Ready_to_Apply {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rgba(255, 94, 0, 0.685);
    width: calc(28.56%);
    height: 100%;
    border-radius: 5px;
  }
  .Ready_to_Apply p {
    margin-top: 15px;
    margin-right: 20px;
    text-align: center;
  }
  .Applied {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rgba(62, 185, 0, 0.685);
    width: calc(42.84%);
    height: 100%;
    border-radius: 5px;
  }
  .Applied p {
    margin-top: 15px;
    margin-right: 20px;
    text-align: center;
  }
  .Interview_Date {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rgba(255, 183, 0, 0.685);
    width: calc(57.12%);
    height: 100%;
    border-radius: 5px;
  }
  .Interview_Date p {
    margin-top: 15px;
    margin-right: 20px;
    text-align: center;
  }
  .Initial_Interview_Done {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rgba(62, 185, 0, 0.685);
    width: calc(71.4%);
    height: 100%;
    border-radius: 5px;
  }
  .Initial_Interview_Done p {
    margin-top: 15px;
    margin-right: 20px;
    text-align: center;
  }
  .Second_Interview_Done {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rgba(62, 185, 0, 0.685);
    width: calc(85.68%);
    height: 100%;
    border-radius: 5px;
  }
  .Second_Interview_Done p {
    margin-top: 15px;
    margin-right: 20px;
    text-align: center;
  }
  .Completed {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rgba(0, 136, 255, 0.685);
    width: calc(100%);
    height: 100%;
    border-radius: 5px;
  }
  .Completed p {
    margin-top: 15px;
    margin-right: 20px;
    text-align: center;
  }

  @media (max-width: 950px) {

    .Research {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      background-color: rgba(255, 0, 0, 0.685);
      width: calc(16%);
      height: 100%;
      border-radius: 5px;
      width: fit-content;
    }
    .Research p {
      margin-top: 15px;
      margin-left: 4px;
      margin-right: 4px;
      text-align: right;
    }
    .Ready_to_Apply {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      background-color: rgba(255, 94, 0, 0.685);
      width: calc(29.56%);
      height: 100%;
      border-radius: 5px;
      width: max-content;
      padding-left: 3px;

    }
    .Ready_to_Apply p {
      margin-top: 15px;
      margin-left: 4px;
      margin-right: 4px;
      text-align: center;
    }
    .Applied {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      background-color: rgba(62, 185, 0, 0.685);
      width: calc(42.84%);
      height: 100%;
      border-radius: 5px;
    }
    .Applied p {
      margin-top: 15px;
      margin-right: 20px;
      text-align: center;
    }
    .Interview_Date {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      background-color: rgba(255, 183, 0, 0.685);
      width: calc(57.12%);
      height: 100%;
      border-radius: 5px;
    }
    .Interview_Date p {
      margin-top: 15px;
      margin-right: 20px;
      text-align: center;
    }
    .Initial_Interview_Done {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      background-color: rgba(62, 185, 0, 0.685);
      width: calc(71.4%);
      height: 100%;
      border-radius: 5px;
    }
    .Initial_Interview_Done p {
      margin-top: 15px;
      margin-right: 20px;
      text-align: center;
    }
    .Second_Interview_Done {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      background-color: rgba(62, 185, 0, 0.685);
      width: calc(85.68%);
      height: 100%;
      border-radius: 5px;
    }
    .Second_Interview_Done p {
      margin-top: 15px;
      margin-right: 20px;
      text-align: center;
    }
    .Completed {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      background-color: rgba(0, 136, 255, 0.685);
      width: calc(100%);
      height: 100%;
      border-radius: 5px;
    }
    .Completed p {
      margin-top: 15px;
      margin-right: 20px;
      text-align: center;
    }

  }