.about-us-container{
    background-color: #94C296;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: flex-start; */
    min-height: 94vh;
    
    width: 100vw;
    gap: 10vh;
    overflow: hidden;
}

.about-us-header{
    display: flex;
    width: 100%;
    height: 5vh;
    align-items: center;
    justify-content: center;
}


.all-of-us{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
    width: 90%;
    min-height: 50%;
}

.developer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
    width: 15%;
    min-width: 300px;
    max-width: 500px;

    height: 370px;
    min-height: 500px;
    max-height: 700px;



    gap: 20px;
    margin: 0;
    padding: 20px;
    background-color: white;
    border: 2px solid #FBF0A2;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.developer p{
    width: 100%;
    height: 5%;
    text-align: center;
    font-size: x-large;
    margin: 0;
    padding: 0;
    
}

.dev-img{
    min-width: 50px;
    max-width: 250px;
    min-height: 50px;
    max-height: 250px;
    border: 2px solid;
    border-color: #FBF0A2;
    border-radius: 50%;
}

.developer-shortcuts{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

.social-icon {
    margin: 0;

    
}