.portfolio-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff8c;
    border: 1px solid #FBF0A2;
    box-shadow: 0px 0px 5px 5px #ff00001c;
    border-radius: 5px;
    width: 500px;
    height: 550px;
    text-align: center;
    margin-bottom: 20px;
    gap: 20px;
  }

  .portfolio-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .portfolio-textarea {
    width: 300px;
    resize: none;
    overflow: auto;
    padding: 5px;
  }
  
  .error {
    color: red;
  }
  
  .portfolio-form-p {
    width: 90%;
  }
  
  #portfolio-label {
    margin-right: 5px;
  }
  
  #portfolio-button {
    margin-left: 5px;
    background-color: beige;
    border-radius: 5px;
    width: 80px;
  }