#card{
    width: 100%;
    background-color: white;
}
.login-component{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 75vw;
    min-width: 70vw;
    gap: 20%;
    height: 90vh;
    
}
.login-container{
    background-color: #59ee6046;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    max-width: 400px;
}
.title-container h1{
    font-size: 100px;
}
.login-second-section-container{
    max-width: 75vw;
    min-width: 70vw;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.login-second-section-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login-second-section-main{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10%;
}
.second-ex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 30%;
    gap: 20px;
}
.second-ex img{
max-width: 200px;
}
.second-ex p{
    max-width: 90%;
}

.login-third-section-container{
    max-width: 75vw;
    min-width: 70vw;
    min-height: 70vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.login-third-section-header {
    display: flex;
    flex-direction: column;
}
.login-third-section-container img{
    max-height: 100px;
}
.login-fourth-section-container{
    min-height: 50vh;
    max-width: 75vw;
    min-width: 70vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.login-fourth-section-container img{
    max-height: 100px;
}

@media (max-width: 500px){
    .login-component{
        flex-direction: column;
        gap:10vh;
    }
    .title-container h1{
        font-size: 70px;
    }
    .login-second-section-main{
        flex-direction: column;
    }
    .second-ex{
        max-width: 70%;
    }
}