.quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100vw;
  min-height: 100vh;
}
.quiz-container-header{
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.quiz-container-header h1{
  border-bottom: 1px solid;
}

.quiz-buttons-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  /* width: 300px;
  min-width: 80%; */
  max-width: 90vw;
  height: 7vh;
  margin-bottom: 2%;
}

.quiz-question-buttons {
  background-color: #fbf0a2;
  border-radius: 10px;
  padding: 10px;
  width: 150px;
}

.quiz-question-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 70vw;
  width: 900px;
  height: 700px;
  background-color: #ffffff8c;
  border-radius: 5px;
  gap: 10px;
  margin-bottom: 5%;
  border: 1px solid #FBF0A2;
  box-shadow: 0px 0px 5px 5px #ff00001c;
}

.quiz-question-card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
}

.lang-icon {
  width: 100px;
  height: 100px;
}

.quiz-final-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 70vw;
  width: 900px;
  height: 700px;
  background-color: #ffffff8c;
  border-radius: 5px;
  gap: 10px;
  margin-bottom: 5%;
  border: 1px solid #FBF0A2;
  box-shadow: 0px 0px 5px 5px #ff00001c;
}

.quiz-question-card h2 {
  margin: 1%;
}

.quiz-question-text {
  font-size: large;
  background-color: rgb(255, 255, 255);
  padding: 1%;
  border-radius: 15px;
  border: 2px solid  #000000b2;
  box-shadow: 0px 0px 5px 5px #ff000021;
}

.quiz-ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 90%;
  height: 100%;
  padding: 0;
}

.quiz-li {
  margin-top: 8px;
  background-color: #eeeeee;
  padding: 16px;
  border: 3px solid white;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
  width: 100%;
  box-shadow: 0px 0px 5px 5px #937e5e8a;
}

.quiz-li:hover {
  opacity: 80%;
  transform: translateY(-1px);
}

.badge-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0;
}

.whole-badge-container {
  min-width: 70vw;
  width: 350px;
  min-height: 90px;
  background-color: #dedede91;
  border-radius: 5px;
  margin-bottom: 2%;
  box-shadow: 0px 0px 5px 5px #a8a8a83d;
  border: 1px solid white;
}
.whole-badge-container h1{
  width: 100%;
  min-height: 80px;
}
