.quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100vw;
  min-height: 100vh;
}

.quiz-buttons-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 80%;
  height: 100%;
  margin-bottom: 2%;
}

.quiz-question-buttons {
  background-color: #fbf0a2;
  border-radius: 10px;
  padding: 10px;
  width: 150px;
}

.quiz-question-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 900px;
  height: 550px;
  background-color: #d9d9d9;
  border-radius: 5px;
  gap: 10px;
  margin-bottom: 5%;
}

.quiz-question-card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.lang-icon {
  width: 100px;
  height: 100px;
}

.quiz-final-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 900px;
  height: 550px;
  background-color: #d9d9d9;
  border-radius: 5px;
  gap: 10px;
  margin-bottom: 5%;
}

.quiz-question-card h2 {
  margin: 1%;
}

.quiz-question-text {
  font-size: large;
}

.quiz-ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 90%;
  height: 100%;
  padding: 0;
}

.quiz-li {
  margin-top: 8px;
  background-color: #eeeeee;
  padding: 16px;
  border: 3px solid white;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
  width: 100%;
}

.quiz-li:hover {
  opacity: 80%;
  transform: translateY(-1px);
}

.badge-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0;
}

.whole-badge-container {
  width: 750px;
  height: 170px;
  background-color: #d9d9d9;
  border-radius: 5px;
  margin-bottom: 2%;
}
