:root {
  --primary_colour: #94c296;
  --secondary_colour: #e5be83;
}

body {
  background-color: var(--primary_colour);
  overflow-x: hidden;
}

.cvworkshop-container {
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; */
  align-items: center;
  gap: 1vh;
  width: 100%;
  min-height: 94vh;
}
.cvworkshop-container-header {
  width: 100%;
  /* min-height: 2vh; */
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.cvworkshop-container-header h1 {
  border-bottom: 1px solid;
}

.cvButtonContainer {
  gap: 5%;
  display: flex;
  width: 100%;
  min-height: 10vh;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.cvButtonStyles {
  padding: 5px;
  border-radius: 5px;
  width: 200px;
  height: 50px;
  background-color: beige;
  font-size: 20px;
  border-top: 2px grey solid;
  border-left: 2px grey solid;
  border-bottom: 2px black solid;
  border-right: 2px black solid;
}

.cvButtonStyles:hover {
  background-color: rgb(226, 226, 211);
}

.cvExamples {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vh;
  width: 100vw;
  /* height: 100vh; */
}

.individual-cv-examples {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  max-width: 1400px;

  /* margin-top: 2%; */
}
.individual-cv-left {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.individual-cv-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  /* height: 100%; */
  height: 800px;
  background-color: #ffffff8c;
  border-radius: 5px;
  padding-bottom: 5px;
  text-align: left;
  gap: 1%;
  border: 1px solid #FBF0A2;
}

.individual-cv-right h3 {
  width: 95%;
  border-bottom: 1px solid;
}

.individual-cv-right p {
  width: 95%;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  min-height: 25%;
  /* background-color: #e5be83a1; */
  background-color: #e5be83;
  /* background-color: white; */
  /* border: 2px solid #e5be83; */
  border: 1px solid #FBF0A2;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.cv-image {
  /* min-width: 500px; */
  width: 97%;
  /* max-width: 600px; */
  height: 800px;
  /* height: 100%;
  width: 100%; */
  border-radius: 5px;
  /* box-shadow: 0px 0px 5px 5px #937e5e8a; */
  /* box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
  rgba(0, 0, 0, 0.22) 0px 15px 12px; */
  border: 1px solid #FBF0A2;
}

/* .cv-p {
  width: 400px;
  height: 800px;
  border-radius: 5px;
} */
.cv-tools-container{
  width: 90vw;
  max-width: 1400px;
  /* width: 100%; */
  /* min-height: 50vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #ffffff8c;
  border-radius: 5px;
  border: 1px solid #FBF0A2;
  margin-bottom: 20px;
}
.cv-tools-container-header{
  width: 100%;
  height: 30%;
  text-align: center;
}
.cv-tools-container-content{
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
}
.cv-tools-content-ex{
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%
}
.cv-tools-content-ex a{
  /* height: 100%;
  width: 100%; */
  text-align: center;
  text-decoration: none;
}
.cv-tools-content-ex img{
  height: 150px;
  width: 150px;
}
.cv-tools-content-ex p{
  font-size: x-large;
  color: black;
}

@media(max-width:1200px){
  .cvButtonContainer {
    gap: 5%;
    width: 100%;
    min-height: 10vh;
    flex-wrap: wrap;
  }
  
  .cvButtonStyles {
    margin-top: 2px;
    padding: 0px;
    width: 40%;
    max-width: 200px;
    height: fit-content;
    /* height: 45px; */
    font-size: 17px;
  }
  .individual-cv-examples {
    flex-direction: column;
    width: 90vw;
    max-width: 1200px;
    gap: 20px;
    align-items: center;
    justify-content: space-evenly;


  }
  .individual-cv-left {
    width: 100vw;
    align-items: center;
  }
  .cv-image {
    /* min-width: 300px; */
    width: 90%;
    /* max-width: 800px; */
    height: auto;
  }
  .individual-cv-right {
    /* min-width: 300px; */
    width: 90vw;
    /* height: 950px; */
    gap: 3vh;
    height: auto;
  }
  .individual-cv-right button{
    font-size: small;
    max-height: 130px;
  }
  .card-container{
    padding-top: 4px;
  }
  .cv-tools-container-content{
    width: 100%;
    height: 70%;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    flex-wrap: wrap;
  }
  .cv-tools-content-ex{
    height: 100%;
    align-items: center;
    width: 40%;
  }

  .cv-tools-content-ex img{
    height: 95%;
    max-height: 170px;
    width: 95%;
  }

  .cvworkshop-container-header {
    display: flex;
    flex-direction: column;
    gap: 1px;
    text-align: center;
  }
  
}