.PortfolioCarousel-container{
    width: 100vw;
    height: 80vh;
    /* max-height: 100vh; */
    /* background-color: brown; */
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

