.PortfolioPage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.PortfolioPage-examples {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.portfolio-plain-image {
  width: 100%;
  height: 100%;
}

.portfolio-plain-image:hover {
  cursor: pointer;
  opacity: 80%;
}

.portfolio-popup-image {
  width: 80%;
  height: 90%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid black;
}

.PorfolioPage-example-item {
  width: 100%;
}
