/* CSS Variables */
:root {
  --primary_colour: #94c296;
  --secondary_colour: #e5be83;
}

body {
  background-color: var(--primary_colour);
}

/* Page Container */
.interviewPrepPage_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-align: center;
  width: 100vw;
  min-height: 93vh;
}
.interviewPrepPage_container-header {
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2vh;
}

.interviewPrepPage_container-header h1 {
  border-bottom: 1px solid;
}
/* Questions Section */
.allQuestions_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

/* Individual Question Sections */
.interviewQuestionsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 33%;
  min-height: 500px;
}
#card-carousel {
  height: 400px;
}
.interviewQuestionsSection h2 {
  border-bottom: 1px solid #FBF0A2;
}

.questionsList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100%;
}

/* Individual Questions Styling */

/* Answer Example Button */
.exampleButton {
  padding: 5px;
  border-radius: 5px;
  width: 200px;
  height: 50px;
  background-color: beige;
  font-size: 20px;
  border-top: 2px grey solid;
  border-left: 2px grey solid;
  border-bottom: 2px black solid;
  border-right: 2px black solid;
}

.exampleButton:hover {
  background-color: rgb(226, 226, 211);
}

/* Pop Up CSS Section */

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(66, 65, 65, 0.444);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  width: 100%;
  max-width: 640px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 2px solid #FBF0A2;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.close-button {
  padding: 5px;
  border-radius: 5px;
  width: 200px;
  height: 50px;
  background-color: beige;
  font-size: 20px;
}

.close-button:hover {
  background-color: rgb(226, 226, 211);
}

.cardStyling {
  background-color: var(--secondary_colour);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.2em;
  border-radius: 10px;
  height: 300px;
  max-width: 400px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  margin: 20px;
  border: 1px solid #FBF0A2;
}
.cardStyling:hover{
  box-shadow: rgba(0, 0, 0, 0.3) 0px 20px 40px,
  rgba(0, 0, 0, 0.58) 0px 15px 12px;
}

.question {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  text-align: center;
  padding: 10px;
  margin: 0;
  min-width: 100%;
  min-height: 80%;
}

.question h5 {
  background-color: #94c296;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.answer-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  min-width: 100%;
  min-height: 20%;
  max-width: 100%;
  max-height: 20%;
}

.carousel {
  width: 1500px;
  max-width: 100%;
  min-width: 100vw;
  height: 100%;
  z-index: 0;
}
.react-multiple-carousel__arrow {
border: 2px solid white !important;
font-weight: 1000;
box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.533);

}


@media (max-width: 900px) {
  .carousel{
    height: 70%;
  }
  .cardStyling h3 {
    font-size: smaller;
  }
  .cardStyling button {
    font-size: small;
  }
  .cardStyling {
    height: 267px;
  }
  .exampleButton{
    width: 85%;
  }

  .interviewPrepPage_container-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1px;
  }
  .popup-inner {
    position: fixed;
    top: 7vh;
  }
  
  .close-button {
    padding: 5px;
    border-radius: 5px;
    width: 120px;
    height: fit-content;
    background-color: beige;
    font-size: 17px;
  }

}
