.navbar-container {
  width: 100%;
  height: 6vh;
  min-height: 50px;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  background-color: #e5be83;
  border-bottom: 1px solid #bb8f6a;
  position: sticky;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 15px 30px,
    rgba(0, 0, 0, 0.22) 0px 10px 8px;
  z-index: 1;
}
.navbar-container button {
  border: none;
  padding: 1px;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
}
.navbar-open button {
  border: none;
  padding: 1px;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
}
.navbar-open button:hover {
  border: none;
  background-color: #fbf0a2;
  border-radius: 5px;
}
.navbar-container button:hover {
  border: none;
  color: white;
  border-radius: 5px;
}

.hamburger {
  display: flex;
  justify-content: left;
}
.navbar-links {
  width: 90%;
  display: flex;
  justify-content: right;
  font-size: 18px;
  gap: 20px;
  margin-right: 30px;
  white-space: nowrap;
}

.navbar-links button {
  padding: 10px;
}

.devault-icon {
  height: 50%;
  margin-left: 10px;
}

.devault-icon:hover {
  cursor: pointer;
}

@media (max-width: 1500px) {
  .navbar-links {
    font-size: 17px;
    gap: 9px;
  }
  .navbar-links button {
    padding: 6px;
  }
}

@media (max-width: 1270px) {
    .navbar-links {
      font-size: 16px;
      gap: 7px;
    }
    .navbar-links button {
      padding: 4px;
    }
  }

  /* @media (max-width: 1100px) {
    .navbar-links {
      font-size: 13px;
      gap: 0px;
    }
  } */

  #hamburger{
    margin-left: 30px;
  }
@media (min-width: 1150px) {
  .hamburger {
    display: none;
  }
  .navbar-open {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
  }
  .hamburger-open {
    width: 90%;
    display: flex;
    justify-content: right;
    gap: 8px;
  }
}
@media (max-width: 1150px) {
  .navbar-open {
    display: flex;
    flex-direction: column;
    background-color: #e5be83;
    width: 100%;
    align-items: center;
    top: 0px;
    position: fixed;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 15px 30px,
    rgba(0, 0, 0, 0.22) 0px 10px 8px;
  }
  
  .navbar-links {
    display: none;
  }
  .hamburger {
    width: 100%;
  }
  .hamburger-open {
    display: flex;
    flex-direction: column;
    justify-content: left;
  }

  .navbar-open button:hover {
    background-color: #fbf0a2;
  }

  .devault-icon {
    margin-right: 30px;
    /* height: 30px; */
  }
  .navbar-open img{
    margin-right: 0px;
    margin-bottom: 10px;
    height: 30px;
  }
  /* #hamburger{
    margin-left: 0px;
  } */
}
