.navbar-container{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}
.navbar-container button{
    border: none;
    padding: 1px;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
}
.navbar-open button{
    border: none;
    padding: 1px;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
}
.navbar-open button:hover {
    border: none;
    background-color: #FBF0A2 ;
}
.navbar-container button:hover {
    border: none;
    background-color: #FBF0A2 ;
}
.hamburger{
    display: flex;
    justify-content: left;

}
.navbar-links{
    width: 90%;
    display: flex;
    justify-content: right;
    gap: 8px;
}

@media (min-width: 800px) {
    .hamburger {
        display: none;
    }
    .navbar-open{
        width: 100%;
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: center;
        }
    .hamburger-open{
        width: 90%;
        display: flex;
        justify-content: right;
        gap: 8px;
    }
}
@media (max-width: 800px) {
    .navbar-open{
        display: flex;
        flex-direction: column;
        background-color: #FBF0A2 ;
        width: 100%;
        align-items: center;
        top: 0px;
        position: absolute;
        }
    .navbar-links {
        display: none;
    }
    .hamburger{
        width: 90%;
    }
    .hamburger-open{
        display: flex;
        flex-direction: column;
        justify-content: left;
    }
    .navbar-open button:hover{
        background-color: #E5BE83;
    }
}

/* .navbar-links {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    width: 100%;
    gap: 20px;
    margin-right: 20px;
    position: absolute;
    top: 0px;
}


.navbar-links button {
    border: none;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0);
}

.navbar-links button:hover {
    border: none;
    padding: 5px;
    background-color: #FBF0A2 ;
}
@media (max-width: 500px) {
    .navbar-links{
        width: 100%;
        font-size:small;
        gap: 0px;
        padding: 5px;
        gap:3px;
    }
    .navbar-links button{
        padding: 0px;

    }
}


@media (min-width: 500px) {
    #hamburger {
        display: none;

    }
}

@media (max-width: 500px) {
    #hamburger {
        display: flex;

    }
    .navbar-links {
        display: flex;
        flex-direction: column;
        
    }
} */