/* Pop Up CSS Section */

.i-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(66, 65, 65, 0.444);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .i-popup-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid #FBF0A2;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
    /* -webkit-box-shadow: 0px 0px 5px 5px #e5be83;
    box-shadow: 0px 0px 5px 5px #e5be83c0;
    border:1px solid #bb8f6a; */
  }
  
  .i-close-button {
    padding: 5px;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    background-color: beige;
    font-size: 20px;
  }
  
  .i-close-button:hover {
    background-color: rgb(226, 226, 211);
  }
  @media(max-width:700px){
    .i-popup-inner{
      position: fixed;
      top: 5vh;
      font-size: 15px;
    }
    .i-close-button {
      padding: 5px;
      border-radius: 5px;
      width: 100px;
      height: 40px;
      background-color: beige;
      font-size: 17px;
    }
  }