.app-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
    background-color: #94C296;
    /* overflow: auto; */
}
.gretting{
    padding-bottom: 100px;
}