*{
  padding: 0;
  margin: 0;
  font-family: 'Dosis', sans-serif;
}
body {
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* @font-face {
  font-family: 'Overseer';
  src: local("Overseer"),
  url("../src/Fonts/Overseer.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;

} */
